<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xing.shiro_jwt.dao.SubmissionMapper">

    <resultMap type="com.xing.shiro_jwt.vo.Task" id="TaskMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="count" column="count"/>
    </resultMap>

    <select id="checkSubmissionOfTask" resultType="java.lang.Integer">
        select count(id) from submissions
        where task_id = #{taskId}
    </select>

    <insert id="addSubmission" >
        insert into submissions (task_id, student_id, name)
        values (#{taskId}, #{studentId}, #{name})
    </insert>

    <update id="updateSubmissionName">
        update submissions
        set name = #{name}
        where task_id = #{taskId}
        and student_id = #{studentId}
    </update>

    <select id="submissionCount" resultType="java.lang.Integer">
        select count(id) from submissions
        where task_id = #{taskId}
        and student_id = #{studentId}
    </select>

    <select id="getSubmission" resultType="java.lang.String">
        select name from submissions
        where task_id = #{taskId}
        and student_id = #{studentId}
    </select>

    <select id="getSubmissionsByStudentId" resultMap="TaskMap">
        SELECT t.id, t.name, IFNULL(s.task_id,0) as `count` FROM tasks t
        LEFT JOIN (SELECT * FROM submissions WHERE student_id = #{studentId})  s
        ON t.id = s.task_id
        where t.status = 1;
    </select>
</mapper>